In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/Jeepofun/Final-Project/main/Data/ordinal2.csv')
df = df.drop(columns=['Unnamed: 0'])
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.rename(columns={'Base_ Engine': 'Base_Engine'})
df.head()

,Name,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
0,2021 Acura RDX,44505,1,5,1,272.0,9.9,1,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
1,2022 Acura MDX,56405,1,7,1,290.0,11.2,1,5000.0,513.0,38.5,41.6,38.5,60.3,70.0,0.0,625.0
2,2021 Acura ILX,30805,2,5,1,201.0,8.6,2,0.0,350.0,38.0,42.3,34.0,53.5,50.0,0.0,581.0
3,2022 Acura NSX,221500,3,2,2,600.0,11.0,1,0.0,110.0,38.3,42.9,0.0,0.0,59.0,1.3,539.0
4,2021 Acura TLX,44105,2,5,1,272.0,9.8,1,0.0,382.0,37.2,42.5,34.9,55.0,60.0,0.0,612.0

In [2]:
df.describe()

,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
count,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000,430.000000
mean,76481.720930,2.620930,4.953488,1.334884,311.142523,9.893973,1.823256,2544.213953,636.439535,39.897954,41.876053,32.761979,50.651385,64.853147,6.424533,642.458438
std,85725.423257,1.861906,1.512242,0.665109,150.907127,3.325963,0.929405,3918.286430,902.618390,1.900042,1.397193,10.981545,16.711987,26.492720,22.009535,136.832436
min,10398.000000,1.000000,2.000000,1.000000,78.000000,1.400000,1.000000,0.000000,0.000000,34.700000,35.800000,0.000000,0.000000,0.000000,0.000000,25.000000
25%,36458.250000,1.000000,5.000000,1.000000,201.000000,8.200000,1.000000,0.000000,340.000000,38.900000,41.100000,32.761979,52.250000,53.250000,0.000000,577.250000
50%,49199.000000,2.000000,5.000000,1.000000,280.000000,10.100000,2.000000,1000.000000,482.500000,39.897954,41.800000,35.700000,55.300000,65.500000,0.000000,642.458438
75%,78800.000000,4.000000,5.000000,1.000000,379.750000,11.752577,3.000000,4000.000000,692.250000,40.600000,42.300000,38.300000,57.400000,80.000000,0.000000,703.000000
max,599341.000000,8.000000,12.000000,5.000000,999.000000,20.500000,4.000000,31200.000000,7400.000000,56.400000,46.300000,44.300000,71.400000,157.000000,135.000000,1138.000000

In [3]:
from sklearn.preprocessing import StandardScaler

X = df[['Base_price', 'Body_style', 'Seats', 'Base_Engine', 'Base_Power', 'Mileage', 'Drive', 'Towing', 'Min_cargo_L', 'Front_headroom', 
        'Front_legroom', 'Rear_legroom', 'Rear_shoulder', 'Fuel_capacity', 'Batt', 'Range']].values

# Standardize the features so that no feature dominates the
# distance computations due to unit scale
scaler = StandardScaler().fit(X)
X = scaler.transform(X)

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [4]:
print(df[df['Name'].str.contains('F-150')])

                          Name  Base_price  Body_style  Seats  Base_Engine  \
129            2022 Ford F-150       34745           5      3            1
142  2022 Ford F-150 Lightning       68000           5      5            3

     Base_Power  Mileage  Drive   Towing  Min_cargo_L  Front_headroom  \
129       290.0     11.0      3  14000.0          0.0            40.8
142       426.0      2.0      4   7500.0          0.0            40.8

     Front_legroom  Rear_legroom  Rear_shoulder  Fuel_capacity  Batt  Range
129           43.9           0.0            0.0           87.0   0.0  790.0
142           43.9          43.6           66.0            0.0  98.0  370.0

In [14]:
#calculate a distance metric
from sklearn.metrics.pairwise import euclidean_distances
# Car the user is looking at
vehicle_features = [55000,       # Price: 10398-599341
                  5,           # Body style (numeric): SUV-1, Sedan-2, Coupe-3, Hatchback-4, Pickup-5, Van-6, Convertible-7, Wagon-8 
                  5,           # Seats: 2, 3, 4, 5, 6, 7, 8, 12
                  1,           # Engine Type (numeric): Gasoline-1, Hybrid-2, Electric-3, Diesel-4, Hydrogen-5
                  300.0,       # Horsepower: 78-999
                  13.0,        # L/100km: 1.0-20.5
                  4,           # Drive (numeric): AWD-1, FWD-2, RWD-3, 4WD-4
                  5000.0,     # Towing: 0.0-31200.0
                  300.0,         # Min interior storage (L): 0.0-7400.0
                  40.8,        # Front Headroom(in.): 34.7-56.4
                  43.9,        # Front Legroom(in.): 35.8-46.3
                  38.0,         # Rear Legroom(in.): 0.0-44.3 
                  55.0,         # Rear Shoulderroom(in.): 0.0-71.4
                  50.0,        # Fuel Capacity (L): 0.0-157.0
                  1.90,         # Battery Size (kWh): 0.0-135.0
                  790          # Range (kms): 25-1138 
                 ]
vehicle_features = scaler.transform([vehicle_features])

# Distance from all other cars
distances = euclidean_distances(X, vehicle_features)
distances = distances.reshape(-1)   # Before it was (n_cars, 1)

# Find the 5 indices with the minimum distance (highest similarity) to the car we're looking at
ordered_indices = distances.argsort()
closest_indices = ordered_indices[:5]

# Get the cars for these indices
closest_vehicles = df.iloc[closest_indices]
closest_vehicles

,Name,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
389,2022 Toyota Tacoma,40350,5,5,1,278.0,11.8,4,6400.0,0.0,39.7,42.9,32.6,58.9,79.0,0.0,669.0
133,2022 Ford Ranger,33320,5,4,1,270.0,10.9,4,7500.0,0.0,41.0,43.1,30.4,55.2,68.0,0.0,625.0
338,2022 Nissan Frontier,39998,5,4,1,310.0,12.3,4,5000.0,0.0,39.7,42.3,26.2,52.4,80.0,0.0,650.0
99,2022 Chevrolet Colorado,27948,5,4,1,200.0,10.9,3,7000.0,0.0,41.4,45.0,28.6,57.3,79.0,0.0,725.0
158,2022 GMC Canyon,28648,5,4,1,200.0,10.9,3,7000.0,0.0,41.4,45.0,28.6,57.3,80.0,0.0,731.0